.Diana-carrillo{
    color:#F3F3F3;
    font-size: 90px;
    font-family: 'Sofia', cursive;
  }

  .brand-container{
   font-family: 'Raleway', sans-serif; 
    text-align: center;
    margin-bottom:10%;
    /* height: 100%; */
   
  }
  
  .pink{
    color: white;
    border-bottom: solid white thin;
    padding-bottom: 2%;
    font-weight: bold;
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
      .about-container{
       margin-top: 800px;
      }
      .brand-container{
       padding-top:400px;
      }
    }