.icons-work, .soft-skill{
    margin:5px;
    display: block;
    color: #E8D956;
}

ul span{
    /* display: inline; */
    /* margin:0; */
    /* color:rgb(158, 53, 74); */
    font-family: 'Raleway', sans-serif;    
    font-weight: bolder
}

li{
    text-align:center;
}


.card-style{
border-color: #E8D956 !important;
}