.Diana-carrillo{
  color: #83072d;
  font-size: 90px;
  text-align: center;
  font-family: 'Sofia', cursive;
}

.links{
  color:#83072d;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.photo{
  border-radius: 80%;
}

.brand-container{
  text-align: center;
  margin-bottom:10%;
}

.about-container {
}

.projects-header{
  color:black;
}

.sections{
  background-color:  #fcf7f9;
  padding-bottom: 550px;
  color:#83072d; 
}
.about-me{
  padding-top:3%;
}


.navbar{
  background-color: #fcf7f9;
  /* background:rgba(0,0,0,0.06); */
}
a:hover{
  color: #fcf7f9 !important;
}

.project-links{
  border: solid;
  margin:5%;
  /* padding:5%; */
}