.Diana-carrillo{
  color: #83072d;
  font-size: 90px;
  text-align: center;
  font-family: 'Sofia', cursive;
}

.links{
  color:#fcf7f9;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.wine-color{
background-color:  #c4254d important!;
}

.photo{
  border-radius: 80%;
}

.brand-container{
  text-align: center
}